img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: rgb(228, 206, 176);
}
h2, h3 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

footer {
    text-align: center;
    line-height: 5px;
}

ion-icon {
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(112, 156, 197, 0.781);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(21, 32, 131);
  }

.active {
    background-color: #12aac5;
}